html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
}

body {
    display: flex;
}

/* 外层设置 */
.wrap {
    flex: 1;
    padding: 16px;
    font-size: 16px;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.2);
}

/* 包裹input框的一层 */
.wrap1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 切换input框时给wrap1加上这个样式 */
.wrap11 {
    margin-top: 10%;
}

/* input框 */
.box {
    padding: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
    border-radius: 2rem;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: lighter;
}

/* 切换input框时的样式 */
.box-center {
    color: #000;
    border-radius: 2rem;
    width: 400px;
    max-width: 400px;
    letter-spacing: 0px;
    font-size: 15px;
    font-family: Roboto, arial, sans-serif;
    padding: 1rem;
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
        inset -20px -20px 60px #ffffff;
    transition: .5s;
}

/* 接触input框时 */
.box-center:hover {
    width: 444px;
    max-width: 444px;
    border: none;
    padding: 1rem;
    border-radius: 2rem;
    background: #e8e8e8;
    box-shadow: 5px 5px 15px #c5c5c5,
        -5px -5px 15px #ffffff;
    transition: .5s;
}

.wrap2 {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.wrap22{
    width: 100%;
}

/* 提示框 */
.tip {
    width: 100%;
    padding: 0px 10px;
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.7);
    position: relative;
}

/* 提示框：hover */
.tip:hover {
    cursor: pointer;
}

/* 提示框的在中间时 */
.tip-change{
    width: 366px;
}

/* 提示框里的每一个元素 */
.tip-text {
    padding: 0px 6px;
    height: 24px;
    line-height: 24px;
    border-radius: 8px;
    transition: .1s;
    color: #fff;
}

/* 提示框每个元素的hover状态 */
.tip-text:hover {
    color: rgb(63, 63, 63);
    letter-spacing: 1px;
    font-weight: 400;
}

/* 上下键选择时给提示框子元素用到的与上面的同样式 */
.tip-text-hover {
    color: rgb(63, 63, 63);
    letter-spacing: 1px;
    font-weight: 400;
}

/* 提示框每一个元素的外壳 */
.tip-border {
    background-color: rgba(187, 187, 187, 0.7);
    border-radius: 8px;
    height: 24px;
    position: absolute;
    z-index: -1;
    transition: .2s;
}